//-------------------------------------------------------------------------------------
//- Home page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";


block content
	main
		- for (var i=1; i<=6; i++) {
			section(class="slide", id="slide#{i}", data-slide="data-slide#{i}", data-stellar-background-ratio="0")
			// end of slide
		- }
