//-------------------------------------------------------------------------------------
//- About page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";

block content
	p this is the about content test2
