//-------------------------------------------------------------------------------------
//- Home page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";


block content
	main
		section#slide-1.homeSlide
			.bcg
				.hsContainer
					.hsContent
						h2 Simple Parallax Scrolling is...
		section#slide-2.homeSlide
			.bcg
				.hsContainer
					.hsContent
						h2 Simple Parallax Scrolling is...
		section#slide-3.homeSlide
			.bcg
				.hsContainer
					.hsContent
						h2 Simple Parallax Scrolling is...
		section#slide-4.homeSlide
			.bcg
				.hsContainer
					.hsContent
						h2 Simple Parallax Scrolling is...
