//-------------------------------------------------------------------------------------
//- Home page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";


block content
	.wrapper
		h1	Welcome to Lumpy's homepage